<%layout('layouts/boilerplate')%>
<style>


</style>

<body class="container mt-4"> 

    
    <div class="row mt-4 justify-content-center">
        <div class="col-md-6"> 

            <form action="/adoptions/add" method="POST">


                <div class="mb-3">
                    <label for="dog" class="form-label">Dog</label>
                    <select name="dogId" id="dog" class="form-control">
                        <% dogs.forEach((dog) => { %>
                            <option value="<%= dog.id %>"><%= dog.id %> - <%= dog.name %></option>
                        <% }); %>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="person" class="form-label">Person</label>
                    <select name="personId" id="person" class="form-control">
                        <% people.forEach((person) => { %>
                            <option value="<%= person.id %>"><%= person.first_name %> <%= person.last_name %></option>
                        <% }); %>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="adoption_date" class="form-label">Date<span class="text-danger">*</span></label>
                    <input type="date" class="form-control" id="adoption_date" name="adoption_date" required>
                </div>

                <div class="mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <input type="text" class="form-control" id="comment" name="comment">
                </div>

                <div class="mb-3">
                    <label for="cost" class="form-label">Fee</label>
                    <input type="number" class="form-control" id="cost" name="cost" step="0.1">
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Add Adoption</button>
                </div>

            </form>
        </div>
    </div>


</body>
